<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CLIENT_ID</key>
    <string>539017112683-of20cblacatfa8fg4eardsrd3fvg72bk.apps.googleusercontent.com</string>
    <key>REVERSED_CLIENT_ID</key>
    <string>com.googleusercontent.apps.539017112683-of20cblacatfa8fg4eardsrd3fvg72bk</string>
    <key>API_KEY</key>
    <string>AIzaSyCd3cMIVHi1rUJV5r7y6CduZkIETrTpohQ</string>
    <key>GCM_SENDER_ID</key>
    <string>539017112683</string>
    <key>PLIST_VERSION</key>
    <string>1</string>
    <key>BUNDLE_ID</key>
    <string>com.skyon.semomun</string>
    <key>PROJECT_ID</key>
    <string>semomun-4d3c9</string>
    <key>STORAGE_BUCKET</key>
    <string>semomun-4d3c9.appspot.com</string>
    <key>IS_ADS_ENABLED</key>
    <false></false>
    <key>IS_ANALYTICS_ENABLED</key>
    <false></false>
    <key>IS_APPINVITE_ENABLED</key>
    <true></true>
    <key>IS_GCM_ENABLED</key>
    <true></true>
    <key>IS_SIGNIN_ENABLED</key>
    <true></true>
    <key>GOOGLE_APP_ID</key>
    <string>1:539017112683:ios:d9a01ae7d68ac45d40952e</string>
</dict>
</plist>
